<!DOCTYPE html>
<html>
<head>
<title>Google Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<h1>email</h1>

<i class="material-icons">email</i>
<i class="material-icons" style="font-size:36px">email</i>
<i class="material-icons" style="font-size:48px;color:red">email</i>

<p>Used on a button:</p>
<button style="font-size:24px">Button <i class="material-icons">email</i></button>

<p>Unicode:</p>
<i class="material-icons">&#xe0be;</i>

</body>
</html>
